{% extends "blog/base.html" %}
{% block content %}
<p>&nbsp;</p>
<h1><p><strong>CHIEN WEI HUANG</strong></p></h1>
<table>
<tbody>
<tr>
<td width="180">
<p>&nbsp;+886-972-208-111</p>
</td>
<td width="265">
<p>&nbsp;<a href="mailto:chien.wei.huang@hotmail.com">chien.wei.huang@hotmail.com</a></p>
</td>
<td width="242">
<p><strong>GitHub</strong>: ddx000</p>
</td>
</tr>
</tbody>
</table>
<p>A Python software engineer with hands-on backend and machine learning experiences. I am also a self-motivated learner with an open mind in learning new technology.</p>
<h2><p><strong>SKILLS</strong></p></h2>
<p>Skills: Python, Django, Flask, Qt, MySQL, Docker, Git, Linux, TensorFlow, Keras</p>
<p>Knowledge: Machine Learning, Time Series Analysis, Data Structure &amp; Algorithm, Network, OS</p>
<p>Language: Chinese(native), English (fluent, TOEIC 975)</p>
<h2><p><strong>EXPERIENCE</strong></p></h2>
<p><strong>ASE Global. - Software Engineer, 2019.06- Present</strong></p>
<ul>
<li>Solely developed the entire Vibration Monitoring System by Qt, including knowledge about socket programming, multithread, MVC &amp; OOP concepts, RDBMS, signal processing, and data pipelines.</li>
<li>Build and productized the machine learning solutions with data cleaning, feature engineering, model training (SVM) and real-time inference, using for preventive maintenance.</li>
<li>Developed vibration comparison algorithm, inspired by Shazam concepts, cutting signals into feature keys by autocorrelation, short-term Fourier transform and peak extraction.</li>
<li>Developed sensor anomaly detection algorithm on industry IoT devices, adopted by many factories and reduced annual labor maintenance costs by 50% (applying for a patent).</li>
<li>Cleaning room particle map visualized by SciPy and derived prediction using LSTM models. Created WebAPI with flask and deployed with Docker.</li>
</ul>
<h2><p><strong>PROJECTS</strong></p></h2>
<ol>
<li>Django Blog (<a href="http://chienweihuang.hopto.org/">Website</a>, <a href="https://github.com/ddx000/Django-Blog">Github</a>)<br />- Created a full-featured blog when I practice Django framework</li>
</ol>
<ol start="2">
<li>Telegram Stickers Helper (<a href="https://github.com/ddx000/TelegramStickerHelper">GitHub</a>)<br />- Telegram robot with web crawler and upload stickers with asynchronous programming.</li>
</ol>
<ol start="3">
<li>Computer Science Notes (<a href="https://github.com/ddx000/Learning-Notes">GitHub</a>)<br />- Self-learning notes from MOOCs (ML, OS, Network, DSA)</li>
</ol>
<ol start="4">
<li>Kaggle, ASHRAE Energy Predictor (Top 20%, post-competition, <a href="https://github.com/ddx000/Kaggle_Kernel/blob/master/Kaggle_ASHRAE.ipynb">Kernal</a>)<br />- Predict how much energy will a building consume using LightGBM</li>
</ol>
<h2><p><strong>EDUCATION</strong></p></h2>
<p><strong>Brandenburg University of Technology, Germany, 2014 - 2017</strong></p>
<p><em>Master of Science, Electrical Power Engineering (Double Degree with NCKU ME)</em></p>
<ul>
<li>Focused on use strain-gauge for data collection, modeling, and prediction.</li>
</ul>
<p><strong>National Cheng Kung University, 2010 - 2014</strong></p>
<p><em>Bachelor of Science, Mechanical Engineering&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em></p>
<ul>
<li>Club: Chien-Pei Aluminum (Director of Activities Department), Baseball team (Co-captain)</li>
</ul>
{% endblock content %}
